body {
    font-family: fantasy;
    background-color: #95c6b6;
    color: #0f4d26;
    text-align: center;
}

.board-container {
    background-color: #578072;
    height: 500px;
    width: 400px;
    margin: auto;
    border-radius: 20px;
}

.boardtable {
    margin: auto;
    margin-top: 20px;
}

.board td {
    width: 15px;
    height: 15px;
    background-color: rgb(95, 145, 129);
    border-top: 5px solid #99bcb0;
    border-left: 5px solid #92bcae;
    border-bottom: 5px solid #3f695b;
    border-right: 5px solid #446e60;
    outline: 3px solid #325549;
    text-align: center;
    margin: auto;
}

button{
    color: #0a381b;
    background-color:#6fad98 ;
    outline: none;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}